@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* use by primevue */
:root {
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 4 78 56;
    --primary-950: 2 44 34;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}
:root {
    --body-bg: rgb(var(--surface-50));
    --body-text-color: rgb(var(--surface-900));
    --card-border: 1px solid var(--border-color);
    --card-bg: rgb(var(--surface-0));
    --border-color: rgb(var(--surface-200));
}
.card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Styles for Datatable */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 9999px;
    padding: 6px;
    background-color: dimgray;
    color: white
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 9999px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color: rgb(228 228 231)
}

.dataTables_wrapper .dataTables_info{
    display: flex;
    justify-content: right;
    align-items: center;
}
.dataTables_wrapper .dataTables_length{
    display: flex;
    justify-content: right;
    align-items: center;
}
.dataTables_wrapper .dataTables_paginate{
    position: relative;
    bottom: 30px;
}
.dataTables_wrapper .dataTables_filter{
    position: relative;
    bottom: 10px;
}